## Miscellaneous
#*.class
#*.log
#*.pyc
#*.swp
#.DS_Store
#.atom/
#.build/
#.buildlog/
#.history
#.svn/
#.swiftpm/
#migrate_working_dir/
#
## IntelliJ related
#*.iml
#*.ipr
#*.iws
#.idea/
#
## The .vscode folder contains launch configuration and tasks you configure in
## VS Code which you may wish to be included in version control, so this line
## is commented out by default.
##.vscode/
#
## Flutter/Dart/Pub related
#**/doc/api/
#**/ios/Flutter/.last_build_id
#.dart_tool/
#.flutter-plugins-dependencies
#.pub-cache/
#.pub/
#/build/
#/coverage/
#
## Symbolication related
#app.*.symbols
#
## Obfuscation related
#app.*.map.json
#
## Android Studio will place build artifacts here
#/android/app/debug
#/android/app/profile
#/android/app/release
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
local.properties
.gradle/
**/android/app/*.jks
**/android/app/*.keystore

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Web related
lib/generated_plugin_registrant.dart

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Google/Secret keys (যদি থাকে)
*.keystore
*.jks

# Coverage
coverage/

